*{
    margin: 0%;
    padding: 0%;
}


body{
    display: flex;
    flex-direction: column;
    background-color: #F5F6FC;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header{
    background: linear-gradient(
    90deg,
    #1A235A 0%,
    #2E1D73 35%,
    #5B42F3 70%,
    #7B5CFF 100%
    );
    height: 40px;
    color:white;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    
}


nav{
    display: flex;
    flex-direction: row;
    padding-inline: 20px;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
    width: 100%;
}

nav div{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    padding-right: 40px;
}

#disciption{
    color: #3D4A6E;
    font-size: large;
    margin: 10px 0 25px;
}

#theme{
    cursor: pointer;
}

#language{
    cursor: pointer;
}

main{
    height: fit-content;
    width:100%;
    align-items: center;
    justify-content: center;
}

main h1{
    margin-top: 20px;
    font-size: 40px;
    color: #1A235A;
    text-align: center;
}
main p{
    text-align: center;
    margin: 5px;
}

#OuterFormContainer{ 
    background-color: #ffff;
    border:2px #D8DDF0 solid;
    margin: 20px 20% 35px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.fullcontainer{
    display: flex;
    flex-direction: row;
    padding: 10px;

}

.fromToContainer{
    width:50%;
    padding: 20px;
}

.selectContainer{
    display: flex;
    margin: 15px 0 5px;
    display: flex;
    align-items: center;
    height: 55px;
    
}

select{
    width: 100%;
    height: 80%;
    padding: 10px;
    font-size: medium;
    border-radius: 3px;
    border-color: #D8DDF0;
}

.FlagImg{
    height: 100%;
    width: auto;
    margin-right: 5px;
}

.UrlImg{
    height: 55px;
    padding: 0%;
}


input[type="number"]{
    border: 2px solid black;
    padding: 10px 15px;
    font-size: medium;
    width: 92% ;
    margin: 10px 0;
    align-items: center;
    margin-left: 3px;
    border-radius: 3px;
    border-color: #D8DDF0;
    background-color: #F8F9FF;
    font-family: cursive;
    
}

input[type="number"]:focus{
    outline: none;
    border-color: #7C5CFF;
}

.rates{
    align-items: center;
    text-align: center;
    width: 100%;
    
}

hr{
    margin: 15px 0;
}

#convert{
    background-color: #1A235A;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 95%;
    font-size: large;
    margin: 15px 0 30px;
    font-family: cursive;
}

.belowElement{
    border: 2px solid #D8DDF0;
    background-color: #ffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    align-items: center;
    justify-content: center;
    margin: 10px 20%;
    border-radius: 10px;
    height: 80px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.elementBox{
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: center;
    font-size: medium;
    border: 1px solid hsla(220, 9%, 46%, 0.11);
}

.belowBlockDetails h4{
    color: #475a7d;
}

.belowBlockDetails p{
    color: #49556c;
    font-size: small;
    font-weight: 500;
}


footer{
    color: #9CA3AF;
    margin: 25px 0 10px;
}

.dark-theme{
    background-color: #8b8ea9;
}

.outputDisplay{
    height: 20px;
    font-size: large;
    color: #4BB543;
}

.status{
    height: 20px;
    font-size: large;
    color: #D5B60A;
}
